body{
    margin: 0px;
    background-color: azure;
}

.hidden{
    display: none;
}


.flex-all{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: fit-content;
    margin: 0px;
}

.flex-search{
    box-shadow: 0px 0px 30px grey;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60vw;
    padding: 15px;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media (max-width: 900px){
    .flex-search{
        padding: 10px;
        width: 70vw;
    }
}

@media (max-width: 550px){
    .flex-search{
        padding: 5px;
        width: 80vw;
    }
}

.profile{
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 250px;
    background-image: url(../immagini/sfondo.png);
    background-size: cover;
    background-position: center;
    position: relative;
}

@media (max-width: 900px){
    .profile{
        height: 190px;
        width: 70vw;
    }
}

@media (max-width: 550px){
    .profile{
        height: 100px;
        width: 80vw;
    }
}

nav{
    position: absolute;
    top: 5px;
    right: 5px;
}

.foto{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 150px;
    border-radius: 100px;
    background-color: white;
    padding: 4px;
}

.foto img{
    height: 150px;
    width: 150px;
    border-radius: 100px;
}

@media (max-width: 900px) {
    .foto{
        height: 100px;
        width: 100px;
    }
    .foto img{
        height: 100px;
        width: 100px;
    }
}

@media (max-width: 550px) {
    .foto{
        height: 60px;
        width: 60px;
    }
    .foto img{
        height: 65px;
        width: 65px;
    }
}

#button a{
    text-decoration: none;
    font-size: 20px;
    font-family: 'Fjalla One';
}

#button{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}

#button a i{
    font-size: 20px;
    color: white;
}

@media (max-width: 900px){
    #button a i{
        font-size: 17px;
    }
}

@media (max-width: 550px){
    #button a i{
        font-size: 12px;
    }
}

#button a i:hover{
    color: rgb(212, 203, 201);
}

.parag{
    margin-top: 10px;
}

.parag p{
    font-style: italic;
    font-size: 20px;
    margin: 0px;
    color: grey;
    font-family: 'Open Sans';
}

.parag p strong{
    font-size: 23px;
    color: black;
}

@media (max-width: 1200px) {
    .parag p {
        font-size: 16px;
    }
    .parag p strong{
        font-size: 18px;
        color: black;
    }
}

@media (max-width: 900px) {
    .parag p {
        font-size: 15px;
    }
    .parag p strong{
        font-size: 18px;
        color: black;
    }
}

@media (max-width: 550px) {
    .parag p {
        font-size: 10px;
    }
    .parag p strong{
        font-size: 12px;
        color: black;
    }
}

/*---RICERCA---*/
.element{
    margin-top: 25px;
    text-align: center;
    margin-bottom: 0px;
}

@media (max-width: 900px) {
    .element{
        margin-top: 20px;
    }
}

@media (max-width: 550px) {
    .element {
        margin-top: 10px;
    }
}

input[type="text"]{
    border: 1px solid brown;
    height: 30px;
    border-radius: 10px;
    width: 250px;
}

input[id="text"]:focus{
    outline: 2px solid brown;
    outline-offset: -2px; 
}

input[placeholder="Inserisci il titolo della canzone.."]{
    font-family: 'Helvetica';
}

input[type="submit"]{
    height: 30px;
    border-radius: 10px;
    border: 1px solid brown;
    background-color: rgb(160, 74, 74);
}

input[type="submit"]:hover{
    cursor: pointer;
    background-color: brown;
}

input[value="Cerca"]{
    font-size: 12px;
    color: white;
    font-family: 'Fjalla One';
}

@media (max-width: 900px) {
    input[placeholder="Inserisci il titolo della canzone.."]{
        width: 200px;
        font-size: 12px;
    }
    input[type="text"]{
        height: 30px;
        border-radius: 8px;
    }
}

@media (max-width: 550px) {
    input[placeholder="Inserisci il titolo della canzone.."]{
        font-size: 10px;
        width: 150px;
    }
    input[type="text"]{
        height: 25px;
        border-radius: 8px;
    }
} 

/*---VIEW---*/
.new{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 60vw;
    border-radius: 20px;
    flex-shrink: 0;
    flex-grow: 1;
    margin-top: 10px;
}

@media (max-width: 650px){
    .new{
        margin-top: 0px;
    }
}

@media (max-width: 550px){
    .new{
        width: 70vw;
    }
}

.all{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1px;
    margin-top: 30px;
    border-radius: 20px;
    box-shadow: 0px 0px 15px grey;
    padding: 10px;
}

@media (max-width: 1000px){
    .all{
        padding: 7px;
    }
}

.track{
    border-radius: 10px;
    height: 25vh;
    width: 15vw;
    border-radius: 20px;
}

@media (max-width: 1000px){
    .track{
        height: 20vh;
        width: 20vw;
    }
}

@media (max-width: 650px){
    .track{
        height: 15vh;
        width: 15vw;
    }
    a.link{
        width: 80px;
        font-size: 12px;
    }
}

@media (max-width: 550px){
    .track{
        height: 11vh;
    }
    a.link{
        width: 50px;
        font-size: 7px;
    }
}

.track img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.info{
    width: 15vw;
    margin-top: 5px;
    text-align: center;
}

.title{
    font-family: 'Fjalla One';
    font-size: 15px;
    color: grey;
}

.author{
    font-family: 'Fjalla One';
    font-size: 13px;
    color: black;
}

@media (max-width: 650px){
    .title{
        font-size: 12px;
    }
    .author{
        font-size: 9px;
    }
}

@media (max-width: 550px){
    .title{
        font-size: 7px;
    }
    .author{
        font-size: 6px;
    }
}

.link{
    display: flex;
    justify-content: center;
    align-content: center;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Roboto';
    color: white;
    width: 100px;
    padding: 3px;
    border-radius: 20px;
    margin-top: 5px;
    background-color: rgb(225, 148, 148);
}

.link:hover{
    color: black;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}

.love_pref{
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.love_pref img{
    width: 100%;
}

@media (max-width: 650px){
    .love_pref{
        height: 25px;
        width: 25px;
    }
}

@media (max-width: 550px){
    .content{
        height: 20px;
        margin-top: 3px;
    }
    .love_pref{
        height: 20px;
        width: 20px;
    }
}